@media screen and(max-width: 992px) {
	nav.navbar {
		padding: 0.4em;

		.logo {
			flex: 0;
		}
		ul {
			flex: 1;
			padding: 0px;
		}
	}
	.heroSection {
		.CTABtn {
			justify-items: center;
			align-items: flex-start;
			padding-left: 30px;

			> * + * {
				transform: translateX(0px);
			}
		}
	}
}
@media screen and(max-width: 768px) {
	nav.navbar {
		padding: 0.4em;
		border-bottom: 1px solid var(--clr-neutral-black-100);

		.logo {
			flex: 0;
		}
		ul {
			flex: 1;
			padding: 0px;
		}
		li {
			padding-top: 15px;
			padding-bottom: 15px;
		}
		a::after {
			display: none;
		}
	}
	.button--minor-action-button::after {
		display: none;
	}

	.testimonialsHeader {
		padding: 0px 20px 20px;
		transform: translateY(-50%);
	}

	.testimonials-container {
		//background-color: black;
		width: 90%;
		margin: auto;

		[class*="line-"] {
			display: none;
		}
	}
	.carousel {
		width: 100%;
		margin: auto;
	}
	.arrow {
		top: 120%;
	}
	.arrow-prev {
		left: 15%;
	}
	.arrow-next {
		right: 15%;
	}
}

@media screen and(max-width:400px) {
	.services-what-we-do {
		.accordion-body {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 0px !important;

			.illustration {
				order: 2;
				margin: 20px 0px;
				flex: 1;
				display: none;
			}

			.description {
				flex: 1;
				order: 1;

				> * + * {
					width: 100%;
					text-align: center;
				}
			}
		}
	}
	.accordian-header {
		h5 {
			display: none;
		}
	}
}
