@import "defaults/defaults";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600;1,700&display=swap");

:root {
	@each $color, $shades in $colors {
		@each $shade, $value in $shades {
			--clr-#{$color}-#{$shade}: #{$value};
		}
	}

	@each $screen-size, $font-size in $type-scale {
		@if $screen-size == large {
			@each $size, $value in $font-size {
				--fs-#{$size}: #{$value};
			}
		} @else if $screen-size == medium {
			@include mq(medium) {
				@each $size, $value in $font-size {
					--fs-#{$size}: #{$value};
				}
			}
		} @else {
			@include mq(small) {
				@each $size, $value in $font-size {
					--fs-#{$size}: #{$value};
				}
			}
		}
	}

	@each $weight, $value in $weights {
		--wgt-#{$weight}: #{$value};
	}
}
* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;

	font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	outline-color: var(--clr-primary-yellow-200) !important;
}
html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	position: relative;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

#homepage {
	footer.footer {
		transform: translateY(-50%);
	}
}
#article {
	background-color: var(--clr-neutral-black-400);
	position: relative;
}
::selection {
	background-color: var(--clr-primary-yellow-100);
}

.cursorFollower {
	opacity: 0;
	position: absolute;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: var(--clr-neutral-black-400);
	background-color: var(--clr-primary-yellow-100);
}

.container-fluid {
	padding: 0px !important;
}
////// Component Style Settings - Yash Sonalia - 20 Mar 2021 //////

// Scrollbar Styling
.c-scrollbar {
	z-index: 999;
	&_thumb {
		background-color: var(--clr-primary-yellow-100) !important;
		opacity: 1 !important;

		&:hover {
			background-color: var(--clr-primary-yellow-200) !important;
		}
	}
}

.background {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 0;
	mix-blend-mode: screen;
}

.row {
	margin-right: 0px !important;
}

//Document Styling

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
q,
blockquote {
	margin-bottom: 0px !important;
	display: block;
}
h1 {
	text-align: center;
	color: var(--clr-neutral-black-400) !important;
	font-size: var(--fs-800) !important;
	font-weight: var(--wgt-700) !important;
	text-transform: uppercase;
	user-select: none;
	line-height: 200px;
}

h2 {
	text-align: center;
	font-size: var(--fs-700) !important;
	color: var(--clr-neutral-black-400) !important;
	font-weight: var(--wgt-700) !important;
	position: relative;
	text-transform: uppercase;
}
h3 {
	font-size: var(--fs-600) !important;
	color: var(--clr-neutral-black-400) !important;
	font-weight: var(--wgt-600) !important;
}
h4 {
	font-size: var(--fs-200) !important;
	font-weight: var(--wgt-500) !important;
	color: var(--clr-neutral-black-400) !important;
}

h5 {
	font-size: var(--fs-500) !important;
	font-weight: var(--wgt-500) !important;
	color: var(--clr-neutral-black-300) !important;
	letter-spacing: 2px;
}

p {
	font-size: var(--fs-100) !important;
	font-weight: var(--wgt-400) !important;
	color: var(--clr-neutral-black-400) !important;
}
q {
	font-size: var(--fs-300);
	font-weight: var(--wgt-500);
	color: var(--clr-neutral-white-200);
}

span.username {
	font-size: var(--fs-200);
	font-weight: var(--wgt-400);
	color: var(--clr-neutral-white-100);
}
blockquote {
	font-size: 14px;
	font-weight: var(--wgt-400);
	color: var(--clr-neutral-white-200);
}
a {
	text-decoration: none !important;
}

label {
	font-size: 12px;
	font-weight: var(--wgt-400);
	color: var(--clr-neutral-white-100);
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(10px);
}

@import "layouts/layouts";
@import "components/components";
@import "responsiveBehavior";
