.landingPage {
	margin-top: 57px;
	.heading-span-outline {
		-webkit-text-stroke: 2px;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-color: var(--clr-neutral-black-400) !important;
	}
}

.heroSection {
	height: auto;
	width: 100%;
	.heroHeadline {
		span {
			display: block;
			&:nth-child(1) {
				text-align: center;
				margin-left: 0px;
			}
			&:nth-child(2) {
				text-align: right;
				margin-right: 0px;
			}
			&:nth-child(3) {
				text-align: left;
			}
			&:nth-child(4) {
				text-align: right;
				margin-right: 120px;
			}
			&:nth-child(5) {
				text-align: center;
			}
		}
	}
}
.whatWeDoSection {
	height: auto;
	width: 100%;
}
@keyframes cssmarquee {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}
