nav.navbar {
	position: relative;
	z-index: 999;
	width: 100%;
	padding: 0.5rem 2rem;

	min-height: 57px !important;
	//border-bottom: 1px solid var(--clr-neutral-black-100);
	background-color: var(--clr-neutral-white-200);

	.collapse {
		justify-content: flex-end;
	}

	.navbar-nav {
		list-style-type: none;
		margin-bottom: 0;
		padding: 0px;

		li {
			padding: 0.25rem 1.25rem;
		}
		.nav-link {
			text-decoration: none;
			font-size: var(--fs-100);
			font-weight: var(--wgt-500);
			color: var(--clr-neutral-black-400);

			position: relative;
			padding: 0rem !important;

			&::after {
				content: "";
				position: absolute;
				opacity: 0;
				bottom: -15px;
				left: 0;
				content: "";
				width: 100%;
				height: 2px;
				background: var(--clr-primary-yellow-200);
				border-radius: 1px;
				transition: all 0.2s ease-in-out;
			}

			&:hover {
				color: var(--clr-neutral-black-400);
				&::after {
					bottom: -5px;
					opacity: 1;
				}
			}
		}
	}

	.navbar-toggler {
		border: none;
		&:focus {
			box-shadow: none;
		}
		.navbar-toggler-icon {
			background-image: none;
			background-image: url("../../assets/nav-toggler-icon.svg");
		}
	}

	transition: all 0.3s ease-in-out;
}

nav.darkNav,
nav.navbar.articles-navbar {
	background-color: var(--clr-neutral-black-400);

	.navbar-brand {
		color: var(--clr-neutral-white-200);
	}
	.navbar-nav {
		.nav-link {
			color: var(--clr-neutral-white-200);

			&:hover {
				color: var(--clr-neutral-white-200);
			}
		}
	}
}
