//////////////////////////////////////
.button {
	pointer-events: auto;
	cursor: pointer;
	background: transparent;
	border: none;
	// padding: 1rem 2rem;
	width: 180px;

	margin: 0;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	position: relative;
	//display: inline-block;
	text-decoration: none;
}
// button + svg:hover {
// 	opacity: 0;
// }

/////////////////////////////////
.button--major-action-btn {
	font-weight: var(--wgt-600);
	border: 2px solid var(--clr-neutral-black-400);
	border-radius: 0px;
	height: 50px;
}

.button--major-action-btn > span {
	display: inline-block;
}

.button--major-action-btn:hover > span {
	opacity: 0;
}

.marquee {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	pointer-events: none;
}

.marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	--offset: 1rem;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	transform: translate3d(var(--move-initial), 0, 0);
	animation: marquee 1.5s linear infinite;
	animation-play-state: running;
	opacity: 0;
}

.button--major-action-btn:hover .marquee__inner {
	animation-play-state: running;
	opacity: 1;
	transition-duration: 0.4s;
	// color: var(--clr-neutral-black-400);
	// background-color: var(--clr-white-black-200);
	color: var(--clr-neutral-white-200);
	background-color: var(--clr-neutral-black-400);
}

.marquee span {
	text-align: center;
	white-space: nowrap;
	padding: 0.79rem 0.5rem;
}

@keyframes marquee {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}

///////////////////////////////
.button--minor-action-button {
	font-weight: var(--wgt-500);
	border: none;
	border-radius: 0px;
	width: auto;
	height: 40px;
	position: relative;
	padding: 0rem !important;
	&::after {
		content: "";
		position: absolute;
		opacity: 0;
		bottom: -10px;
		left: 0;
		content: "";
		width: 100%;
		height: 2px;
		background: var(--clr-neutral-black-400);
		border-radius: 1px;
		transition: all 0.2s ease-in-out;
	}

	&:hover {
		&::after {
			bottom: 10px;
			opacity: 1;
		}
	}
}
