//Accordions

.services-what-we-do {
	padding: 0px 5vw !important;
	height: max-content;
	hr {
		margin: 10px auto;
		color: var(--clr-neutral-black-400);
	}

	.accordion-body {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		//padding: 0px !important;
		.illustration {
			flex: 3;
			order: 1;
			height: 100%;
			text-align: center;
			img {
				width: 50%;

				height: auto;
				pointer-events: none;
			}
		}
		.description {
			flex: 7;
			order: 2;
			> * + * {
				margin-top: 20px;
			}
		}
	}
}

.accordion-button {
	display: flex;
	min-height: 22vh;
	border: 0px !important;

	h3,
	h5 {
		text-align: left;
		width: 100%;
	}
	&:focus {
		border-color: transparent !important;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
	}
	&:hover {
		border-color: transparent !important;
		box-shadow: 0 0 0 0.25rem rgba(255, 176, 0, 0.25) !important;
	}

	&:not(.collapsed) {
		background-color: transparent !important;
	}
	&::after {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	&:not(.collapsed)::after {
		transform: rotate(180deg) translateY(50%) !important;

		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
	}
}

.accordion-item:last-of-type .accordion-collapse {
	border-bottom-width: 0px !important;
}
.accordian-number {
	margin-right: 20px;
	min-width: 40px;
	min-height: 40px;
	background-color: var(--clr-neutral-black-400);
	border-radius: 50%;
	display: grid;
	span.number {
		place-self: center;
		font-size: var(--fs-400);
		color: var(--clr-primary-yellow-200);
		font-weight: var(--wgt-600);
		text-align: center;
	}
}
.accordian-header {
	h3 {
		text-transform: uppercase !important;
	}
}

// Carousel
.testimonials-container {
	//background-color: black;
	width: 60%;
	margin: 20px auto;
	position: relative;
	display: grid;
	place-items: center;
	[class*="line-"] {
		position: absolute;
		top: 0;
		z-index: 3;
		border-left: 1px solid var(--clr-neutral-black-300);
		height: 100%;
	}
	.line-left {
		left: 15%;
		filter: drop-shadow(5px 0px 5px var(--clr-neutral-black-400));
	}
	.line-right {
		right: 15%;
		filter: drop-shadow(-5px 0px 5px var(--clr-neutral-black-400));
	}
}

.carousel {
	width: 70%;
	height: 95%;
	margin: auto;

	display: flex;
	justify-content: flex-start;
	overflow: hidden;
	position: relative;
}
.slider {
	flex-shrink: 0;
	display: flex;
	height: 100%;
	width: 500%;
	transition: all 0.3s ease-in-out;
	background-color: transparent;
	[class*="slide-"] {
		flex: 1;
		flex-basis: 20%;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		.slide-content {
			max-width: 350px;
			width: auto;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			height: 300px;
			background-color: black;
			margin: auto;
			padding: 30px;
			text-align: center;
		}
	}
}

.arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 2;
	background-color: var(--clr-neutral-white-200);
	min-width: 50px;
	min-height: 50px;

	border-radius: 50%;
	transition: all 0.1s ease-in-out;

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&:hover {
		background-color: var(--clr-primary-yellow-200);
	}
}
.arrow-prev {
	left: 0%;
	img {
		transform: translate(-60%, -50%);
	}
}
.arrow-next {
	right: 0%;
	img {
		transform: translate(-60%, -50%);
	}
}
