$type-scale: (
	small: (
		800: 10vw,
		700: 8vw,
		600: 7vw,
		500: 16px,
		400: 16px,
		300: 16px,
		200: 14px,
		100: 14px,
	),
	medium: (
		800: 10vw,
		700: 6vw,
		600: 4vw,
		500: 16px,
		400: 20px,
		300: 18px,
		200: 14px,
		100: 14px,
	),
	large: (
		800: 7vw,
		700: 5.5vw,
		600: 2.5vw,
		500: 18px,
		400: 20px,
		300: 20px,
		200: 16px,
		100: 14px,
	),
);

$weights: (
	400: 400,
	500: 500,
	600: 600,
	700: 700,
);
