$type-scale: (
	small: (
		800: 40px,
		700: 30px,
		600: 28px,
		500: 22px,
		400: 20px,
		300: 18px,
		200: 16px,
		100: 14px,
	),
	medium: (
		800: 40px,
		700: 30px,
		600: 28px,
		500: 22px,
		400: 20px,
		300: 18px,
		200: 16px,
		100: 14px,
	),
	large: (
		800: 6rem,
		700: 5.5rem,
		600: 3.5rem,
		500: 2rem,
		400: 20px,
		300: 18px,
		200: 16px,
		100: 14px,
	),
);

$weights: (
	400: 400,
	500: 500,
	600: 600,
	700: 700,
);
